<p-dialog header="Dodawanie pensji" [visible]="dataService.getSalaryAddDialogVisible()" modal="modal" [responsive]="true" (onHide)="dataService.setSalaryAddDialogVisible(false)">
  <form [formGroup]="salForm" novalidate>
    <div class="form-group"> <!-- Pracownik -->
      <label for="employer">Pracownik:</label>
      <select class="col-xs-4-select form-control" id="employer" formControlName="users_id">
          <option *ngFor="let user of users" value="{{user.id}}">{{user.username}}</option>
        </select>
      <div class="text-danger" *ngIf="salForm.get('users_id').invalid && (salForm.get('users_id').dirty || salForm.get('users_id').touched)">
        <small *ngIf="salForm.get('users_id').errors">{{dataService.getValidErrors(salForm.get('users_id'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Rodzaj zatrudnienia -->
      <label for="employment_arrangement">Rodzaj zatrudnienia:</label>
      <input class="col-xs-4 form-control" type="text" placeholder="Rodzaj zatrudnienia" id="employment_arrangement" formControlName="employment_arrangement">
      <div class="text-danger" *ngIf="salForm.get('employment_arrangement').invalid && (salForm.get('employment_arrangement').dirty || salForm.get('employment_arrangement').touched)">
        <small *ngIf="salForm.get('employment_arrangement').errors">{{dataService.getValidErrors(salForm.get('employment_arrangement'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Pensja -->
      <label for="base_salary">Pensja:</label>
      <input class="col-xs-4 form-control" type="number" placeholder="0" id="base_salary" formControlName="base_salary">
      <div class="text-danger" *ngIf="salForm.get('base_salary').invalid && (salForm.get('base_salary').dirty || salForm.get('base_salary').touched)">
        <small *ngIf="salForm.get('base_salary').errors">{{dataService.getValidErrors(salForm.get('base_salary'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Staż pracy -->
      <label for="seniority">Staż pracy:</label>
      <input class="col-xs-4 form-control" type="number" placeholder="0" id="seniority" formControlName="seniority">
      <div class="text-danger" *ngIf="salForm.get('seniority').invalid && (salForm.get('seniority').dirty || salForm.get('seniority').touched)">
        <small *ngIf="salForm.get('seniority').errors">{{dataService.getValidErrors(salForm.get('seniority'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Podwyżka -->
      <label for="salary_supplement">Podwyżka:</label>
      <input class="col-xs-4 form-control" type="number" placeholder="0" id="salary_supplement" formControlName="salary_supplement">
      <div class="text-danger" *ngIf="salForm.get('salary_supplement').invalid && (salForm.get('salary_supplement').dirty || salForm.get('salary_supplement').touched)">
        <small *ngIf="salForm.get('salary_supplement').errors">{{dataService.getValidErrors(salForm.get('salary_supplement'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Status -->
      <label for="employment_status">Status:</label>
      <input class="col-xs-4 form-control" type="text" placeholder="Status" id="employment_status" formControlName="employment_status">
      <div class="text-danger" *ngIf="salForm.get('employment_status').invalid && (salForm.get('employment_status').dirty || salForm.get('employment_status').touched)">
        <small *ngIf="salForm.get('employment_status').errors">{{dataService.getValidErrors(salForm.get('employment_status'))}}</small>
      </div>
    </div>

    <p-footer>
      <button type="button" pButton icon="fa-check" [disabled]="salForm.invalid" (click)="onAdd()" label="Dodaj"></button>
      <button type="button" pButton icon="fa-close" (click)="dataService.setSalaryAddDialogVisible(false)" label="Anuluj"></button>
    </p-footer>
  </form>
</p-dialog>
