<p-growl></p-growl>

<h1 class="nazwa">{{title}}</h1>

<p-dataTable class="text-center" [value]="salaries.content" [responsive]="true" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25]"
  [(selection)]="selectedUsers" dataKey="id"> <!-- [editable]="true" (onEditComplete)="onEdit($event.data)" [headerCheckboxToggleAllPages]="true"> -->

  <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

  <p-column header="Lp." [sortable]="true"> <!-- ID -->
    <ng-template let-index="rowIndex" pTemplate="body">
      <span>{{index + 1}}</span>
    </ng-template>
  </p-column>

  <p-column header="Pracownik (id)" [sortable]="true"> <!-- Pracownik -->
    <ng-template let-data="rowData" pTemplate="body">
      <span>{{data.user.username}}</span>
    </ng-template>
  </p-column>

  <!-- <p-column field="email" header="E-mail" [sortable]="true"></p-column> <! E-mail > -->
  <p-column field="employment_arrangement" header="Rodzaj zatrudnienia" [sortable]="true"></p-column>
  <p-column field="base_salary" header="Pensja" [sortable]="true"> <!-- [editable]="true"> --></p-column>
  <p-column field="seniority" header="Staż pracy" [sortable]="true"></p-column>
  <p-column field="salary_supplement" header="Dodatek" [sortable]="true"> <!-- [editable]="true"> --></p-column>
  <p-column field="employment_status" header="Status" [sortable]="true"></p-column>

  <p-footer>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-refresh" label="Odswież" style="float: right;" pTooltip="Odswież tabelę" (click)="getSalary()"></button>
      <button type="button" pButton icon="fa-plus" label="Dodaj" style="float: left;" pTooltip="Dodaj wynagrodzenie"></button>
      <!-- <button type="button" pButton icon="fa-file-pdf-o" style="float: left;" pTooltip="Pobierz PDF" (click)="getPdf()"></button> -->
    </div>
  </p-footer>
</p-dataTable>
