<p-growl></p-growl>
<h1 class="nazwa">{{title}}</h1>
<form class="rejestru" [formGroup]="regForm" (ngSubmit)="onSubmit()">
  <!-- <div class="form-group">  <!- Imię ->
    <label for="Name">Podaj imię</label>
    <input class="col-xs-4 form-control" type="text" placeholder="Imię" id="inputName" formControlName="name">
    <div class="text-danger" *ngIf="regForm.get('name').invalid && (regForm.get('name').dirty || regForm.get('name').touched)">
      <small *ngIf="regForm.get('name').errors">{{getValidErrors(regForm.get('name'))}}</small>
    </div>
  </div>

  <div class="form-group"> <!- Nazwisko ->
    <label for="Lastname">Podaj nazwisko</label>
    <input class="col-xs-4 form-control" type="text" placeholder="Nazwisko" id="inputLastname" formControlName="surname">
    <div class="text-danger" *ngIf="regForm.get('surname').invalid && (regForm.get('surname').dirty || regForm.get('surname').touched)">
        <small *ngIf="regForm.get('surname').errors">{{getValidErrors(regForm.get('surname'))}}</small>
      </div>
  </div> -->

  <div class="form-group"> <!-- Login -->
    <label for="Login">Login</label>
    <input class="col-xs-4 form-control" type="text" placeholder="Login" id="inputLogin" formControlName="username">
    <div class="text-danger" *ngIf="regForm.get('username').invalid && (regForm.get('username').dirty || regForm.get('username').touched)">
        <small *ngIf="regForm.get('username').errors">{{getValidErrors(regForm.get('username'))}}</small>
      </div>
  </div>

  <div class="form-group"> <!-- Email -->
    <label for="Email">Adres email</label>
    <input class="col-xs-4 form-control" type="email" placeholder="Adres Email" id="inputEmail" formControlName="email">
    <div class="text-danger" *ngIf="regForm.get('email').invalid && (regForm.get('email').dirty || regForm.get('email').touched)">
        <small *ngIf="regForm.get('email').errors">{{getValidErrors(regForm.get('email'))}}</small>
      </div>
  </div>

  <div class="form-group"> <!-- Hasło -->
    <label for="Password">Hasło</label>
    <input class="col-xs-4 form-control" type="password" placeholder="Hasło" id="inputPassword" formControlName="password">
    <div class="text-danger" *ngIf="regForm.get('password').invalid && (regForm.get('password').dirty || regForm.get('password').touched)">
        <small *ngIf="regForm.get('password').errors">{{getValidErrors(regForm.get('password'))}}</small>
      </div>
  </div>

  <div class="form-group"> <!-- Adres -->
    <label for="address">Adres</label>
    <input class="col-xs-4 form-control" type="text" placeholder="Adres" id="address" formControlName="address">
    <div class="text-danger" *ngIf="regForm.get('address').invalid && (regForm.get('address').dirty || regForm.get('address').touched)">
        <small *ngIf="regForm.get('address').errors">{{getValidErrors(regForm.get('address'))}}</small>
      </div>
  </div>

  <div class="form-group"> <!-- Stanowisko -->
    <label for="position">Stanowisko</label>
    <input class="col-xs-4 form-control" type="text" placeholder="Stanowisko" id="position" formControlName="position">
    <div class="text-danger" *ngIf="regForm.get('position').invalid && (regForm.get('position').dirty || regForm.get('position').touched)">
        <small *ngIf="regForm.get('position').errors">{{getValidErrors(regForm.get('position'))}}</small>
      </div>
  </div>

  <div class="form-group"> <!-- Oddzial rozliczeniowy -->
    <label for="taxOffice">Oddział rozliczeniowy</label>
    <input class="col-xs-4 form-control" type="text" placeholder="Oddział rozliczeniowy" id="taxOffice" formControlName="taxOffice">
    <div class="text-danger" *ngIf="regForm.get('taxOffice').invalid && (regForm.get('taxOffice').dirty || regForm.get('taxOffice').touched)">
        <small *ngIf="regForm.get('taxOffice').errors">{{getValidErrors(regForm.get('taxOffice'))}}</small>
      </div>
  </div>

  <div class="form-group"> <!-- Rozpoczęcie pracy -->
    <label for="employmentStartDate">Data rozpoczęcia pracy</label>
    <p-calendar [(ngModel)]="date" [showIcon]="true" [locale]="pl" readonlyInput="true" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2030" placeholder="{{dataService.convertDate(minDate)}}" [minDate]="minDate" id="employmentStartDate" formControlName="employmentStartDate"></p-calendar>
    <div class="text-danger" *ngIf="regForm.get('employmentStartDate').invalid && (regForm.get('employmentStartDate').dirty || regForm.get('employmentStartDate').touched)">
      <small *ngIf="regForm.get('employmentStartDate').errors">{{getValidErrors(regForm.get('employmentStartDate'))}}</small>
    </div>
  </div>

  <div class="center">
    <button type="submit" class="btn btn-primary btn-xs" [disabled]="regForm.invalid">Rejestruj</button>
    <button type="button" class="btn btn-primary btn-xs" (click)="onReset()" [disabled]="!regForm.get('username').value && !regForm.get('email').value && !regForm.get('password').value && !regForm.get('address').value && !regForm.get('position').value && !regForm.get('taxOffice').value && !regForm.get('employmentStartDate').value">
      <!-- [disabled]="!regForm.get('name').value && !regForm.get('surname').value && !regForm.get('username').value && !regForm.get('email').value && !regForm.get('password').value"> -->
      Resetuj
    </button>
  </div>
</form>
