<p-growl></p-growl>
<p-contextMenu #cm [model]="items"></p-contextMenu>
<app-inst-register *ngIf="dataService.getInstDialogVisible()"></app-inst-register>
<app-table-row-edit [inst]="inst" *ngIf="dataService.getDialogVisible()"></app-table-row-edit>

<h1 class="nazwa">{{title}}</h1>

<p-dataTable class="text-center" [value]="instructions" [responsive]="true" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25]" selectionMode="single" [(selection)]="inst" [contextMenu]="cm"> <!-- (onRowSelect)="dataService.setDialogVisible(true)"> -->
  <p-column header="Lp." [sortable]="true"> <!-- Lp. -->
    <ng-template let-i="rowIndex" pTemplate="body">
      <span>{{i + 1}}</span>
    </ng-template>
  </p-column>

  <p-column field="theme" header="Temat szkolenia" [sortable]="true"></p-column> <!-- Temat -->

  <p-column field="company" header="Firma prowadząca" [sortable]="true"></p-column> <!-- Nazwa firmy -->
  <p-column field="location" header="Miejsce szkolenia" [sortable]="true"></p-column> <!-- Lokacja -->
  <p-column field="startDate" header="Data rozpoczecia" [sortable]="true"></p-column> <!-- Data od -->
  <p-column field="endDate" header="Data zakonczenia" [sortable]="true"></p-column> <!-- Data do -->

  <p-column header="Koszt od osoby" [sortable]="true"> <!-- Koszt -->
    <ng-template let-data="rowData" pTemplate="body">
      <span>{{data.cost}} zł</span>
    </ng-template>
  </p-column>

  <p-column field="consent" header="Zgoda managera" [sortable]="true"> <!-- Menadzer -->
    <ng-template let-data="rowData" pTemplate="body">
      <span *ngIf="data.consent" style="color: green;">Tak</span>
      <span *ngIf="!data.consent" style="color: red;">Nie</span>
    </ng-template>
  </p-column>

  <p-column header="Uczestnictwo" [sortable]="true"> <!-- Uczestnictwo -->
    <ng-template let-data="rowData" pTemplate="body">
      <div *ngIf="data.no_of_seats > 0">
        <button pButton type="button" *ngIf="!isAssigned(data.id)" label="Zapisz się" class="ui-button-success" (click)="changeAssign(data.id, true)"></button>
        <button pButton type="button" *ngIf="isAssigned(data.id)" label="Wypisz się" class="ui-button-danger" (click)="changeAssign(data.id, false)"></button>
      </div>
      <div *ngIf="data.no_of_seats <= 0">
        <span style="color: grey;">Brak wolnych miejsc</span>
      </div>
    </ng-template>
  </p-column>

  <!-- <p-column header="Faktura">
    <ng-template let-inst="rowData" pTemplate="body">
      <button pButton type="button" icon="fa-file-pdf-o" (click)="getPdf(inst)" pTooltip="Pobierz PDF" tooltipPosition="left"></button>
    </ng-template>
  </p-column> -->

  <!-- <p-footer>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-refresh" label="Odswież" style="float: right;" pTooltip="Odswież tabelę" (click)="refresh()"></button>
      <button type="button" pButton icon="fa-plus" label="Dodaj" style="float: left;" pTooltip="Dodaj szkolenie" (click)="dataService.setInstDialogVisible(true)"></button>
    </div>
  </p-footer> -->
</p-dataTable>
