<p-growl></p-growl>
<p-contextMenu #cm [model]="items"></p-contextMenu>
<app-inst-register *ngIf="dataService.getInstDialogVisible()"></app-inst-register>
<app-table-row-edit [inst]="selectedInctruction" *ngIf="dataService.getDialogVisible()"></app-table-row-edit>

<h1 class="nazwa">{{title}}</h1>

<p-dataTable class="text-center" [value]="instructions" [responsive]="true" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25]" selectionMode="single" [(selection)]="selectedInctruction" [contextMenu]="cm">
  <p-column header="Lp."> <!-- Lp. -->
    <ng-template let-i="rowIndex" pTemplate="body">
      <span>{{i + 1}}</span>
    </ng-template>
  </p-column>

  <p-column field="theme" header="Temat szkolenia" [sortable]="true"></p-column> <!-- Temat -->

  <p-column field="company" header="Firma prowadząca" [sortable]="true"></p-column> <!-- Nazwa firmy -->
  <p-column field="location" header="Miejsce szkolenia" [sortable]="true"></p-column> <!-- Lokacja -->
  <p-column field="startDate" header="Data rozpoczęcia" [sortable]="true"></p-column> <!-- Data od -->
  <p-column field="endDate" header="Data zakończenia" [sortable]="true"></p-column> <!-- Data do -->

  <p-column field="cost" header="Koszt od osoby" [sortable]="true"></p-column> <!-- Koszt -->

  <p-column field="consent" header="Zgoda menadżera" [sortable]="true"> <!-- Menadzer -->
    <ng-template let-data="rowData" pTemplate="body">
      <span *ngIf="data.consent" style="color: green;">Tak</span>
      <span *ngIf="!data.consent" style="color: red;">Nie</span>
    </ng-template>
  </p-column>

  <p-column header="Uczestnictwo"> <!-- Uczestnictwo -->
    <ng-template let-data="rowData" pTemplate="body">
    <div *ngIf="!data.cancelled">
      <button pButton type="button" *ngIf="!isAssigned(data.id) && data.no_of_seats > 0" label="Zapisz się" class="ui-button-success" (click)="changeAssign(data.id, true)"></button>
      <button pButton type="button" *ngIf="isAssigned(data.id) && data.no_of_seats >= 0" label="Wypisz się" class="ui-button-danger" (click)="changeAssign(data.id, false)"></button>
      <span style="color: grey;" *ngIf="!isAssigned(data.id) && data.no_of_seats <= 0">Brak miejsc</span>
    </div>
    <div *ngIf="data.cancelled">
      <span style="color: red;">ANULOWANO</span>
    </div>
    </ng-template>
  </p-column>

  <!-- <p-column header="Faktura">
    <ng-template let-inst="rowData" pTemplate="body">
      <button pButton type="button" icon="fa-file-pdf-o" (click)="getPdf(inst)" pTooltip="Pobierz PDF" tooltipPosition="left"></button>
    </ng-template>
  </p-column> -->

  <p-footer>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-refresh" label="Odśwież" style="float: right;" pTooltip="Odśwież tabelę" (click)="onRefresh()"></button>
      <button type="button" pButton icon="fa-plus" label="Dodaj" style="float: left;" pTooltip="Dodaj szkolenie" (click)="dataService.setInstDialogVisible(true)"></button>
    </div>
  </p-footer>
</p-dataTable>
