<p-dialog [minWidth]="300" header="Edycja rekordu" [visible]="dataService.getDialogVisible()" modal="modal" [responsive]="true" (onHide)="dataService.setDialogVisible(false)">
  <form [formGroup]="dialForm" novaldiate>
    <div class="form-group">
      <label for="theme">Temat szkolenia:</label>
      <input class="col-xs-4 form-control" type="text" placeholder="{{inst.theme}}" id="topic" formControlName="theme">
      <div class="text-danger" *ngIf="dialForm.get('theme').invalid && (dialForm.get('theme').dirty || dialForm.get('theme').touched)">
        <small *ngIf="dialForm.get('theme').errors">{{getValidErrors(dialForm.get('theme'))}}</small>
      </div>
    </div>

    <div class="form-group">
      <label for="company">Nazwa firmy prowadzącej:</label>
      <input class="col-xs-4 form-control" type="text" placeholder="{{inst.company}}" id="company" formControlName="company">
      <div class="text-danger" *ngIf="dialForm.get('company').invalid && (dialForm.get('company').dirty || dialForm.get('company').touched)">
        <small *ngIf="dialForm.get('company').errors">{{getValidErrors(dialForm.get('company'))}}</small>
      </div>
    </div>

    <div class="form-group">
      <label for="location">Miejsce szkolenia:</label>
      <input class="col-xs-4 form-control" type="text" placeholder="{{inst.location}}" id="location" formControlName="location">
      <div class="text-danger" *ngIf="dialForm.get('location').invalid && (dialForm.get('location').dirty || dialForm.get('location').touched)">
          <small *ngIf="dialForm.get('location').errors">{{getValidErrors(dialForm.get('location'))}}</small>
        </div>
    </div>

    <div class="form-group">
      <label for="startDate">Data rozpoczęcia szkolenia:</label>
      <br><p-calendar class="col-xs-4" [(ngModel)]="date" [showIcon]="true" [locale]="pl" readonlyInput="true" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2030" placeholder="{{dataService.convertDate(minDate)}}" [minDate]="minDate" id="startDate" formControlName="startDate"></p-calendar>
      <div class="text-danger" *ngIf="dialForm.get('startDate').invalid && (dialForm.get('startDate').dirty || dialForm.get('startDate').touched)">
        <small *ngIf="dialForm.get('startDate').errors">{{getValidErrors(dialForm.get('startDate'))}}</small>
      </div>
    </div>

    <div class="form-group">
      <label for="endDate">Data zakończenia szkolenia:</label>
      <br><p-calendar class="col-xs-4" [(ngModel)]="date2" [showIcon]="true" [locale]="pl" readonlyInput="true" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2030" placeholder="{{dataService.convertDate(minDate)}}" [minDate]="minDate" id="endDate" formControlName="endDate"></p-calendar>
      <div class="text-danger" *ngIf="dialForm.get('endDate').invalid && (dialForm.get('endDate').dirty || dialForm.get('endDate').touched)">
          <small *ngIf="dialForm.get('endDate').errors">{{getValidErrors(dialForm.get('endDate'))}}</small>
        </div>
    </div>

    <div class="form-group">
      <label for="cost">Koszt od osoby:</label>
      <input class="col-xs-4 form-control" type="number" placeholder="{{inst.cost}}" id="cost" formControlName="cost">
      <div class="text-danger" *ngIf="dialForm.get('cost').invalid && (dialForm.get('cost').dirty || dialForm.get('cost').touched)">
          <small *ngIf="dialForm.get('cost').errors">{{getValidErrors(dialForm.get('cost'))}}</small>
        </div>
    </div>

    <div class="form-group">
      <label for="no_of_seats">Ilość miejsc:</label>
      <input class="col-xs-4 form-control" type="number" placeholder="{{inst.no_of_seats}}" id="no_of_seats" formControlName="no_of_seats">
      <div class="text-danger" *ngIf="dialForm.get('no_of_seats').invalid && (dialForm.get('no_of_seats').dirty || dialForm.get('no_of_seats').touched)">
          <small *ngIf="dialForm.get('no_of_seats').errors">{{getValidErrors(dialForm.get('no_of_seats'))}}</small>
        </div>
    </div>

    <div class="form-group"> <!-- Anulowano -->
      <label for="cancelled">Anulowano:</label>
      <select class="col-xs-4-select form-control" id="cancelled" formControlName="cancelled">
        <option value="true">Tak</option>
        <option value="false">Nie</option>
      </select>
      <div class="text-danger" *ngIf="dialForm.get('cancelled').invalid && (dialForm.get('cancelled').dirty || dialForm.get('cancelled').touched)">
        <small *ngIf="dialForm.get('cancelled').errors">{{getValidErrors(dialForm.get('cancelled'))}}</small>
      </div>
    </div>

    <div class="form-group">
      <label for="consent">Zgoda menadżera:</label>
      <select class="col-xs-4-select form-control" id="consent" formControlName="consent">
        <option value="true">Tak</option>
        <option value="false">Nie</option>
      </select>
      <div class="text-danger" *ngIf="dialForm.get('consent').invalid && (dialForm.get('consent').dirty || dialForm.get('consent').touched)">
        <small *ngIf="dialForm.get('consent').errors">{{getValidErrors(dialForm.get('consent'))}}</small>
      </div>
    </div>

    <p-footer>
      <button type="button" pButton icon="fa-check" [disabled]="dialForm.pristine || dialForm.invalid" (click)="onSubmit()" label="Zapisz"></button>
      <button type="button" pButton icon="fa-close" (click)="dataService.setDialogVisible(false)" label="Anuluj"></button>
    </p-footer>
  </form>
</p-dialog>
