<h1 class="nazwa">{{title}}</h1>
<p-growl></p-growl>

<p-dataTable class="text-center" [editable]="true" [value]="users" [responsive]="true" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25]"
  [(selection)]="selectedUsers" dataKey="id" (onEditComplete)="onEdit($event.data)" [headerCheckboxToggleAllPages]="true">

  <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
  <p-column field="id" header="Lp." [sortable]="true"></p-column> <!-- ID -->
  <p-column field="name" header="Imie" [sortable]="true"></p-column> <!-- Imie -->
  <p-column field="surname" header="Nazwisko" [sortable]="true"></p-column> <!-- Nazwisko -->
  <p-column field="email" header="E-mail" [sortable]="true"></p-column> <!-- E-mail -->
  <p-column field="salary" header="Pensja" [sortable]="true" [editable]="true"></p-column> <!-- Pensja -->

  <p-footer>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-refresh" label="Odswież" style="float: right;" pTooltip="Odswież tabelę" (click)="getUsers()"></button>
      <button type="button" pButton icon="fa-file-pdf-o" style="float: left;" pTooltip="Pobierz PDF" (click)="getPdf()"></button>
    </div>
  </p-footer>
</p-dataTable>
