<div class="container border border-top-0 radius w-25">
  <form (ngSubmit)="onSubmit()">
    <br>

    <div *ngIf="logedIn === true">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Zalogowano pomyslnie!
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" required id="email" name="email" [(ngModel)]="user.email" #email="ngModel">

      <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required">E-mail wymagany!</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Hasło:</label>
      <input type="password" class="form-control" required id="password" name="password" [(ngModel)]="user.password" #password="ngModel">

      <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors.required">Hasło wymagane!</div>
        </div>
    </div>

    <button type="button" class="btn btn-secondary" [disabled]="!email.value && !password.value" (click)="user.onReset()">Resetuj</button>
    <button type="submit" class="btn btn-success" [disabled]="!email.value || !password.value" routerLink="/dashboard">Zaloguj</button>
  </form>
  <br>
</div>
