<p-growl></p-growl>
<h1 class="nazwa">{{title}}</h1>

<p-dataTable class="text-center" [value]="vacations" [responsive]="true" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25]">
  <p-column header="Lp." [sortable]="true"> <!-- Lp. -->
    <ng-template let-i="rowIndex" pTemplate="body">
      <span>{{i + 1}}</span>
    </ng-template>
  </p-column>

  <p-column header="Pracownik">
    <ng-template let-data="rowData" pTemplate="body">
      <span>{{data.user.username}}</span>
    </ng-template>
  </p-column>

  <p-column field="create_date" header="Stworzono" [sortable]="true"></p-column>
  <p-column field="start_date" header="Od" [sortable]="true"></p-column>
  <p-column field="end_date" header="Do" [sortable]="true"></p-column>

  <p-column header="Status">
    <ng-template let-data="rowData" pTemplate="body">
      <div *ngIf="!adminMode">
        <span *ngIf="data.agreed" style="color: green">{{getAccept(data.agreed)}}</span>
        <span *ngIf="!data.agreed && data.disagree_reason != ''" style="color: red" pTooltip="Powód: {{data.disagree_reason}}" tooltipPosition="left">{{getAccept(data.agreed)}}</span>
        <span *ngIf="!data.agreed && data.disagree_reason == ''" style="color: grey;">Czeka na rozpatrzenie</span>
      </div>

      <div *ngIf="adminMode">
        <button type="button" class="ui-button-success" pButton icon="fa-check" label="Zatwierdź" *ngIf="getAccept(data.disagree_reason).includes('')" (click)="setStatus(data, true)"></button>
        <button type="button" class="ui-button-danger" pButton icon="fa-times" label="Odrzuć" *ngIf="getAccept(data.disagree_reason).includes('')" (click)="dialog = true && selectedVacation = data"></button>
      </div>
    </ng-template>
  </p-column>

  <p-footer>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-refresh" label="Odswież" style="float: right;" pTooltip="Odswież tabelę" (click)="getVacations()"></button>
      <button type="button" pButton icon="fa-unlock" label="Edycja" style="float: left;" *ngIf="!adminMode" (click)="setAdminMode(true)"></button>
      <button type="button" pButton icon="fa-lock" label="Edycja" style="float: left;" *ngIf="adminMode" (click)="setAdminMode(false)"></button>

      <p-calendar [(ngModel)]="date" [locale]="pl" selectionMode="range" dateFormat="yy-mm-dd" showButtonBar="true"
        [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2030" [minDate]="minDate" readonlyInput="true" pTooltip="Dodaj urlop" placeholder="Rozpocznij urlop">
        <p-footer>
          <button type="button" pButton label="Dodaj urlop" icon="fa-plus" (click)="onCreate()"></button>
        </p-footer>
      </p-calendar>
    </div>
  </p-footer>
</p-dataTable>

<p-dialog header="Odrzucenie urlopu" [(visible)]="dialog" modal="modal" [responsive]="true" (onHide)="dialog = false">
  <label for="disagree_reason">Powód</label>
  <input #reason class="col-xs-4 form-control" type="text" placeholder="Powód odrzucenia urlopu" id="disagree_reason">

  <p-footer>
      <button type="button" pButton icon="fa-check" (click)="setStatus(selectedVacation, false, reason.value)" label="Wyslij"></button>
      <button type="button" pButton icon="fa-close" (click)="dialog = false" label="Anuluj"></button>
    </p-footer>
</p-dialog>
