<p-growl></p-growl>
<h1 class="nazwa">{{title}}</h1>

<p-dataTable class="text-center" [value]="vacations.content" [responsive]="true" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25]">
  <p-column header="Lp." [sortable]="true"> <!-- Lp. -->
    <ng-template let-i="rowIndex" pTemplate="body">
      <span>{{i + 1}}</span>
    </ng-template>
  </p-column>

  <p-column header="Pracownik">
    <ng-template let-data="rowData" pTemplate="body">
      <span>{{data.user.username}}</span>
    </ng-template>
  </p-column>

  <p-column field="create_date" header="Stworzono" [sortable]="true"></p-column>
  <p-column field="start_date" header="Od" [sortable]="true"></p-column>
  <p-column field="end_date" header="Do" [sortable]="true"></p-column>

  <p-column header="Status">
    <ng-template let-data="rowData" pTemplate="body">
        <span *ngIf="data.agreed" style="color: green">{{getAccept(data.agreed)}}</span>
        <span *ngIf="!data.agreed && data.disagree_reason != null" style="color: red" pTooltip="Powód: {{data.disagree_reason}}">{{getAccept(data.agreed)}}</span>
        <span *ngIf="data.disagree_reason == null" style="color: grey;">Czeka na rozpatrzenie</span>

        <!-- <button type="button" class="ui-button-success" pButton icon="fa-check" label="Zatwierdź" *ngIf="getAccept(data.agreed).includes('Cz')" (click)="setStatus(data.id, data, true)"></button>
        <button type="button" class="ui-button-danger" pButton icon="fa-times" label="Odrzuć" *ngIf="getAccept(data.agreed).includes('Cz')" (click)="setStatus(data.id, data, false)"></button> -->
    </ng-template>
  </p-column>

  <p-footer>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-refresh" label="Odswież" style="float: right;" pTooltip="Odswież tabelę" (click)="getVacations()"></button>
      <!-- <button type="button" pButton icon="fa-unlock" label="Edycja" style="float: left;" *ngIf="!adminMode && admin.includes(user)" (click)="setAdminMode(true)"></button>
      <button type="button" pButton icon="fa-lock" label="Edycja" style="float: left;" *ngIf="adminMode  && admin.includes(user)" (click)="setAdminMode(false)"></button> -->

      <p-calendar [(ngModel)]="date" [locale]="pl" selectionMode="range" dateFormat="yy-mm-dd" showButtonBar="true"
        [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2030" [minDate]="minDate" readonlyInput="true" pTooltip="Dodaj urlop" placeholder="Rozpocznij urlop">
        <p-footer>
          <button type="button" pButton label="Dodaj urlop" icon="fa-plus" (click)="onCreate()"></button>
        </p-footer>
      </p-calendar>
    </div>
  </p-footer>
</p-dataTable>
