<h1 class="nazwa">Rejestracja szkolenia</h1>
<form class="rejestrs">
  <div class="alert alert-danger" *ngIf="addedInst == false">
    Błędnie wypełnione pola!
  </div>
  <div class="alert alert-success" *ngIf="addedInst == true">
    Dodado szkolenie!
  </div>

  <div class="form-group"> <!-- Temat Szkolenia -->
    <label for="topic">Temat szkolenia</label>
    <input class="col-xs-4 form-control" type="text" required placeholder="Wprowadź temat" id="inputTemat" name="topic" [(ngModel)]="instruction.topic" #topic="ngModel">
    <small id="topicSmall" class="form-text text-danger" *ngIf="topic.invalid && (topic.dirty || topic.touched)">Podaj temat szkolenia!</small>
  </div>

  <div class="form-group"> <!-- Nazwa firmy prowadzącej -->
    <label for="Firma">Nazwa firmy prowadzącej</label>
    <input class="col-xs-4 form-control" type="text" required placeholder="Firma prowadząca" id="inputFirma" name="company" [(ngModel)]="instruction.company" #company="ngModel">
    <small id="companySmall" class="form-text text-danger" *ngIf="company.invalid && (company.dirty || company.touched)">Podaj nazwę firmy prowadzącej!</small>
  </div>

  <div class="form-group"> <!-- Miejsce szkolenia -->
    <label for="Miejsce">Miejsce szkolenia</label>
    <input class="col-xs-4 form-control" type="text" required placeholder="Miejsce" id="inputMiejsce" name="location" [(ngModel)]="instruction.location" #location="ngModel">
    <small id="locationSmall" class="form-text text-danger" *ngIf="location.invalid && (location.dirty || location.touched)">Podaj miejsce szkolenia!</small>
  </div>

  <div class="form-group"> <!-- Data od -->
    <label for="Dataod">Data szkolenia od</label>
    <input class="col-xs-4 form-control" type="date" required placeholder="Data od" id="inputDataod" name="dateFrom" [(ngModel)]="instruction.dateFrom" #dateFrom="ngModel">
    <small id="dateFromSmall" class="form-text text-danger" *ngIf="dateFrom.invalid && (dateFrom.dirty || dateFrom.touched)">Podaj datę rozpoczęcia!</small>
  </div>

  <div class="form-group"> <!-- Data do -->
    <label for="Datado">Data szkolenia do</label>
    <input class="col-xs-4 form-control" type="date" required placeholder="Data do" id="inputDatado" name="dateTo" [(ngModel)]="instruction.dateTo" #dateTo="ngModel">
    <small id="dateToSmall" class="form-text text-danger" *ngIf="dateTo.invalid && (dateTo.dirty || dateTo.touched)">Podaj datę zakoczenia!</small>
  </div>

  <div class="form-group"> <!-- Cena -->
    <label for="Cena">Cena od osoby</label>
    <input class="col-xs-4 form-control" type="number" required placeholder="Cena od osoby" id="inputCena" name="cost" [(ngModel)]="instruction.cost" #cost="ngModel">
    <small id="costSmall" class="form-text text-danger" *ngIf="cost.invalid && (cost.dirty || cost.touched)">Podaj koszt od osoby!</small>
  </div>

  <div class="form-group"> <!-- Zgoda menadżera -->
    <label for="Zgoda">Zgoda menadżera</label>
    <select class="col-xs-4-select form-control" name="option" [(ngModel)]="instruction.manager">
      <option value="1">Tak</option>
      <option value="0">Nie</option>
    </select>
  </div>

  <div class="center">
    <button type="submit" class="btn btn-primary btn-xs" (click)="onRegister()">Rejestruj</button>
    <button type="submit" class="btn btn-primary btn-xs" (click)="onReset()">Resetuj</button>
  </div>
</form>
